* {
  margin: 0;
  padding: 0;
}

$color-primary: #f9ed69; // Yellow
$color-secondary: #f08a5d; // orange
$color-tertiary: #b83b5e;
$color-text-dark: #333;

nav {
  margin: 30px;
  background-color: $color-primary;
}

.navigation {
  list-style: none;

  li {
    display: inline-block;
    margin-left: 30px;

    &:last-child {
      margin: 0;
    }

    a:link {
      text-decoration: none;
      text-transform: uppercase;
      color: $color-text-dark;
    }
  }
}
